<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title -->
    <title>Messy Blessings</title>

    <!-- Favicon -->
    <%= favicon_link_tag 'fav.ico' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Special+Elite|Staatliches" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <!-- Footer Partials -->
    <%= render 'layouts/footer' %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
